@import "../main.css";

.card-body,
.list-group li {
    background: var(--background);
}

.card,
.card-body {
    border: none;
}

.lot-name {
    text-transform: uppercase;
}

.refresh {
    color: white;
    border-color: white;
    background-color: var(--isd-red);
}

.refresh:hover {
    color: var(--isd-red);
    background-color: white;
    border-color: white;
}

.fas,
.far {
    font-size: 3rem;
}

.lot {
    cursor: unset;
}

span {
    color: black;
}

.fa-backspace {
    font-size: 1rem;
}

.smthg-error .unable-to-connect h2 {
    max-width: 720px;
}

.smthg-error {
    position: relative;
    height: 130px;
    margin: 0px auto 10px;
    z-index: -1;
}

.smthg-error .unable-to-connect h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--not-found-color);
    background: #fff;
    padding: 10px 5px;
    margin: auto;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
}

@media only screen and (max-width: 767px) {
    .message {
        padding-top: 1rem;
    }
}

@media (min-width: 520px) and (max-width: 620px) {
    .smthg-error {
        height: 110px;
        margin: 0px auto 10px;
    }
}

@media only screen and (max-width: 480px) {
    .smthg-error {
        height: 80px;
        margin: 0px auto 10px;
    }

    .smthg-error .unable-to-connect h2 {
        font-size: 16px;
    }

    .message {
        padding-top: 1rem;
    }
}
