<div class="modal-header">
    <h4 class="modal-title" id="modal-title">
        {{ 'form-fields-hint.title' | translate }}
    </h4>
    <button
        (click)="activeModal.dismiss('Cross click')"
        aria-describedby="modal-title"
        aria-label="Close button"
        class="close"
        type="button"
    >
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>
        <strong>{{ 'form-fields-hint.uname.text' | translate }}</strong>
        {{ 'form-fields-hint.req' | translate }}
    </p>
    <ol>
        <li>{{ 'form-fields-hint.uname.minlen' | translate }}</li>
        <li>{{ 'form-fields-hint.uname.maxlen' | translate }}</li>
        <li>{{ 'common.constraints.uname.content' | translate | translateCut:0 }}
            <br/> <i>{{ 'common.constraints.uname.content' | translate | translateCut:1 }}</i>.
        </li>
    </ol>
    <br/>

    <p>
        <strong>{{ 'form-fields-hint.email.text' | translate }}</strong>
        {{ 'form-fields-hint.req' | translate }}
    </p>
    <ol>
        <li>{{ 'form-fields-hint.email.minlen' | translate }}</li>
        <li>{{ 'form-fields-hint.email.maxlen' | translate }}</li>
        <li>{{ 'form-fields-hint.email.content' | translate | translateCut:0}}
            <strong> @ </strong><i>{{ 'form-fields-hint.email.content' | translate | translateCut:1}}</i>
        </li>
    </ol>
    <br/>

    <p>
        <strong>{{ 'form-fields-hint.fn.text' | translate }}</strong>
        {{ 'form-fields-hint.req' | translate }}
    </p>
    <ol>
        <li>{{ 'form-fields-hint.fn.minlen' | translate }}</li>
        <li>{{ 'form-fields-hint.fn.maxlen' | translate }}</li>
        <li>{{ 'common.constraints.name.content' | translate | translateCut:0 }}
            <br/> <i>{{ 'common.constraints.name.content' | translate | translateCut:1 }}</i>
        </li>
    </ol>
    <br/>

    <p>
        <strong>{{ 'form-fields-hint.ln.text' | translate }}</strong>
        {{ 'form-fields-hint.req' | translate }}
    </p>
    <ol>
        <li>{{ 'form-fields-hint.ln.minlen' | translate }}</li>
        <li>{{ 'form-fields-hint.ln.maxlen' | translate }}</li>
        <li>{{ 'common.constraints.name.content' | translate | translateCut:0 }}
            <br/> <i>{{ 'common.constraints.name.content' | translate | translateCut:1 }}</i>
        </li>
    </ol>
    <br/>

    <p>
        <strong>{{ 'form-fields-hint.pw.text' | translate }}</strong>
        {{ 'form-fields-hint.req' | translate }}
    </p>
    <ol>
        <li>{{ 'form-fields-hint.pw.minlen' | translate }}</li>
        <li>{{ 'form-fields-hint.pw.maxlen' | translate }}</li>
        <li>
            {{ 'common.constraints.pw.content' | translate | translateCut:0 }} <br/>
            {{ 'common.constraints.pw.content' | translate | translateCut:1 }} <br/>
            {{ 'common.constraints.pw.content' | translate | translateCut:2 }} <br/>
            {{ 'common.constraints.pw.content' | translate | translateCut:3 }} <br/>
            <strong>!"@#$%^&'*()_+,./</strong>
        </li>
    </ol>
    <br/>
</div>
