<form
  #f="ngForm"
  (ngSubmit)="onSubmit(f.valid)"
  [formGroup]="forgotForm"
  class="form-group mx-auto text-center"
>
    <div *ngIf="requestSuccess" class="alert alert-success">
        {{ confirmationMessage }}
    </div>
    <div *ngIf="requestFailed" class="alert alert-warning">
        {{ errorMessage }}
    </div>

    <div class="form-group mx-auto text-center">
        <div class="mx-auto m-3">
            {{ 'forgot-pass-form.text' | translate }}
        </div>

        <label for="email"></label>
        <div class="input-group mx-auto text-center w-20rem">
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="fa fa-envelope"></i></span>
            </div>
            <input
                [(ngModel)]="this.email"
                class="form-control"
                formControlName="email"
                id="email"
                minlength="8"
                name="email"
                placeholder="example@mail.com"
                required
                type="email"
            />
        </div>
        <!-- <autocomplete givenPlaceHolder="Your email address"-->
        <!--               (selectedValue)="handleSelect($event)"></autocomplete>-->

        <div
            *ngIf="mail.invalid && this.submitted"
            class="alert alert-danger font-error mx-auto text-center w-20rem"
        >
            <ng-container *ngIf="mail.errors.required">
                {{ 'forgot-pass-form.email.req' | translate }}<br/>
            </ng-container>
            <ng-container *ngIf="mail.errors.minlength">
                {{ 'forgot-pass-form.email.minlen' | translate }}<br/>
            </ng-container>
            <ng-container *ngIf="mail.errors.maxlength">
                {{ 'forgot-pass-form.email.maxlen' | translate }}<br/>
            </ng-container>
            <ng-container *ngIf="mail.errors.pattern">
                {{ 'common.constraints.email.content' | translate | translateCut:0 }} <br/>
                {{ 'common.constraints.email.content' | translate | translateCut:1 }}
            </ng-container>
        </div>
    </div>

    <div class="button-box mx-auto">
        <button
            (click)="onSubmit(this.forgotForm.valid)"
            [disabled]="sendSuccess"
            appNoDblClick
            class="btn btn-default submit-btn full-width form-group mx-auto text-center rounded-pill mt-3 mb-n2"
            type="submit"
        >
            {{ 'forgot-pass-form.send' | translate }} &nbsp;<i class="far fa-envelope"></i>
        </button>
    </div>
</form>
