<div class="" id="myModal">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content shadow">
            <div class="modal-header">
                <ng-container *ngIf="confirmationSuccess">
                    <div class="icon-box icon-box-success">
                        <!--[if !IE]> --><i class="material-icons">done</i>
                        <!-- <![endif]-->
                        <!--[if lt IE 9
                            ]><i class="material-icons">&#xE876;</i><!
                        [endif]-->
                    </div>
                    <h4 class="modal-title text-center align-content-center">Awesome!</h4>
                </ng-container>

                <ng-container *ngIf="!confirmationSuccess">
                    <div class="icon-box icon-box-error">
                        <i class="material-icons">&#xe5cd;</i>
                    </div>
                    <h4 class="modal-title text-center">
                        Something went wrong!
                    </h4>
                </ng-container>
            </div>
            <div class="modal-body">
                <ng-container *ngIf="confirmationSuccess">
                    <p class="text-center">{{ confirmationMessage }}</p>
                    <p class="text-center">
                        You will be redirected to the
                        {{
                      this.formAction === formActions.login ? 'login' :
                        this.formAction === formActions.reset ? 'password reset' : 'main'
                        }}
                        page in <strong>{{ this.countdownCounter }}</strong> seconds
                    </p>
                </ng-container>

                <ng-container *ngIf="!confirmationSuccess && errorMessage">
                    <p class="text-center">{{ errorMessage }}</p>
                    <p class="text-center">
                        You will be redirected to the main page in
                        <strong>{{ this.countdownCounter }}</strong> seconds
                    </p>
                </ng-container>
            </div>
        </div>
    </div>
</div>
