/* Empty results */
@import '../../pages/smth-error';
/* Statistics pagination table style */
@import 'statistics-pagination';

//colors
$color_tropical_blue_approx: #d1e7fa;
$color_azure_radiance_approx: #0a8eff;
$black: black;
$white: white;
$color_gravel_approx: #3a383a;

h1 {
    color: $color_tropical_blue_approx;
}

label {
    color: $color_tropical_blue_approx;
}

.btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.reset-btn {
    width: 100%;
    margin-top: 0;

    &:hover {
        color: $color_azure_radiance_approx;
        border-color: $color_tropical_blue_approx;
        background-color: $color_tropical_blue_approx;
    }
}
