<div class="container">
    <div class="statistics-form">
        <div class="row">
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="mx-auto text-center">
                            <i class="fa fa-calendar-check"></i>&nbsp;{{ 'statistics.start' | translate }}</span>
                    </span>
                    </div>
                    <label for="dataBegin"></label>
                    <input (change)="filterData()"
                           [(ngModel)]="startDate"
                           class="form-control"
                           id="dataBegin" type="date"/>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="mx-auto text-center">
                            <i class="fas fa-calendar-times"></i>&nbsp;{{ 'statistics.end' | translate }}</span>
                    </span>
                    </div>
                    <label for="dateEnd"></label>
                    <input (change)="filterData()"
                           [(ngModel)]="endDate"
                           class="form-control"
                           id="dateEnd" type="date"/>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="mx-auto text-center">
                            <i class="fas fa-car-side"></i>&nbsp;{{ 'statistics.lot.id' | translate }}
                        </span>
                    </span>
                    </div>
                    <select (change)="filterData()"
                            [(ngModel)]="selectedLotNumber"
                            class="form-control number-selector"
                            name="lots">
                        <option selected>&nbsp;{{ 'statistics.all' | translate }}</option>
                        <option *ngFor="let lot of lotNumber"> {{ lot }} </option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <button (click)="loadData()" class="btn btn-danger reset-btn">
                        <i class="fas fa-times-circle"></i>
                        {{ 'statistics.reset' | translate }}
                    </button>
                </div>
            </div>
        </div>
        <hr/>
    </div>

    <ng-container *ngIf="filteredStatistics.length != 0">
        <div class="">
            <table class="table">
                <thead>
                <tr>
                    <th (click)="sortStatisticsTableByLotNumber()">
                        <span class="parking-lot">{{ 'statistics.lot.title' | translate }}
                            <i *ngIf="lotSortedAsc" class="fas fa-sort-up"></i>
                            <i *ngIf="lotSortedDesc" class="fas fa-sort-down"></i>
                        </span>
                    </th>
                    <th>{{ 'statistics.status' | translate }}</th>
                    <th (click)="sortStatisticsTableByTime()">
                        <span class="time">{{ 'statistics.time' | translate }}
                            <i *ngIf="timeSortedAsc" class="fas fa-sort-up"></i>
                            <i *ngIf="timeSortedDesc" class="fas fa-sort-down"></i>
                        </span>
                    </th>
                    <th (click)="sortStatisticsTableByDate()">
                        <span class="date">{{ 'statistics.date' | translate }}
                            <i *ngIf="dateSortedAsc" class="fas fa-sort-up"></i>
                            <i *ngIf="dateSortedDesc" class="fas fa-sort-down"></i>
                        </span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let stat of filteredStatistics
                            | paginate: { itemsPerPage: 10, currentPage: p };
                        let i = index"
                    [ngStyle]="{ background: getColor(stat.status) }">
                    <!--//here you can set the number of rows to display on one page-->
                    <td>{{ 'LOT ' + stat.lotNumber }}</td>
                    <td>{{ stat.status }}</td>
                    <td>{{ stat.updatedAt | date: 'HH:mm:ss' }}</td>
                    <td>{{ stat.updatedAt | date: 'dd.MM.yy' }}</td>
                </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event" autoHide="true"></pagination-controls>
        </div>
    </ng-container>

    <div *ngIf="filteredStatistics.length == 0"
         class="container mx-auto text-center align-content-center mt-2 w-75">
        <div class="smthg-error mt-3 mx-auto text-center">
            <div class="unable-to-connect mx-auto text-center">
                <h2>{{ 'statistics.no-results.text' | translate }}</h2>
            </div>
        </div>
        <div class="message mx-auto text-center m-1 px-3">
            {{ 'statistics.no-results.msg' | translate }}
        </div>
        <img alt="no_statistics"
             class="w-100 mx-auto text-center align-content-center h-auto"
             src="../../../../assets/img/no-results-found.png"
        />
    </div>
</div>
