<!-- <div class="d-flex justify-content-center" >
  <div class="btn refresh mt-3 mb-4" (click)="refresh()">Refresh</div>
</div> -->

<!--<div class="display-4 text-light d-flex justify-content-center mb-2 title mt-3">ParKing</div>-->

<app-parking-lot-detail
    *ngIf="action === 'view'"
    (goBackEvent)="refresh()"
    [parkingLot]="selectedParkingLot"
>
</app-parking-lot-detail>

<div *ngIf="action !== 'view'" class="container row p-0 mx-auto">
    <div
        *ngFor="let parkingLot of parkingLots; trackBy: trackByMethod"
        class="col-12 col-sm-6 col-md-4 col-lg-3 elem"
    >
        <div class="parking-lot-name mb-2">
            LOT <b>{{parkingLot.number}}</b>
        </div>
        <div
            (click)="showDetails(parkingLot.id)"
            [ngClass]="parkingLot.status.toLowerCase()"
            #parkingLotDetailTooltip="ngbTooltip"
            class="btn parking-lot col-12 border-radius-s"

            data-container="body"
            ngbTooltip="View parking lot {{parkingLot.number}} details" placement="top"
        >
            <i
                [ngClass]="{
                    'fa-car': parkingLot.status === parkingLotStatus.OCCUPIED,
                    'fa-parking': parkingLot.status === parkingLotStatus.FREE,
                    'fa-ban': parkingLot.status === parkingLotStatus.UNKNOWN,
                    'fa-clipboard-check':
                        parkingLot.status === parkingLotStatus.RESERVED
                }"
                class="fas"
            ></i>

            <span
                (click)="showParkingLotOnMap(parkingLot.number)"
                *ngIf="this.isUserLoggedIn()"
                #parkingLotMapTooltip="ngbTooltip"

                (mouseenter)="preventParentTooltip()"
                (mouseleave)="allowParentTooltip()" class="parking-map"
                ngbTooltip="View parking lot {{parkingLot.number}} on map"
                placement="top"
            >
                <i class="fas fa-map-marked-alt"></i
                ></span>
        </div>
    </div>
</div>

<!--if parking lots not provided by server-->
<div *ngIf="parkingLots == null" class="row">
    <!--<h2 class="error col-12" style="text-align: center; margin-bottom: 20px;">Connection error, please contact
        support</h2>-->
    <div
        *ngFor="let lot of noData; trackBy: trackByMethod"
        class="col-12 col-sm-6 col-md-4 col-lg-3 elem"
    >
        <div class="parking-lot-name">{{ 'LOT ' + (lot < 10 ? 0 : '') + lot }}</div>
        <div
            [ngClass]="{ unknown: selectedParkingLot == null }"
            class="btn parking-lot col-12 border-radius-s"
        >
            <i class="fas fa-ban"></i>
        </div>
    </div>
</div>
