<div class="container">
    <h2 class="m-3 my-4 text-left">Parking lot details</h2>
    <div class="card mx-auto shadow" style="width: 20rem;">
        <ng-container *ngIf="parkingLot != null">
            <div
                [ngClass]="parkingLot.status.toLowerCase()"
                class="btn lot col-sm-12 p-3"
            >
                <i
                    [ngClass]="{
                    'fa-car': parkingLot.status === parkingLotStatus.OCCUPIED,
                    'fa-parking': parkingLot.status === parkingLotStatus.FREE,
                    'fa-ban': parkingLot.status === parkingLotStatus.UNKNOWN,
                    'fa-clipboard-check':
                        parkingLot.status === parkingLotStatus.RESERVED
                }"
                    class="fas"
                ></i>
            </div>

            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-left">
                        <b>Name: </b>{{ 'LOT ' + parkingLot.number }}
                    </li>
                    <li class="list-group-item text-left">
                        <b>Status: </b>{{ parkingLot.status }}
                    </li>
                    <li class="list-group-item text-left">
                        Since {{ parkingLot.updatedAt | date: 'HH:mm dd-MMM-yyyy' }}
                    </li>
                </ul>

                <button
                    (click)="goBack()"
                    appNoDblClick
                    class="btn col refresh text-center mx-auto mt-4"
                >
                    <i class="fas fa-backspace fa-sm mr-3"></i>Back
                </button>
                <button
                    (click)="showReservationModal()"
                    *ngIf="this.isAdminLoggedIn()"
                    [disabled]="reservationSuccess"
                    appNoDblClick
                    class="btn col refresh text-center mx-auto"
                >
                    <i class="fa fa-bell"></i>
                    {{
                  (parkingLot.status === parkingLotStatus.RESERVED
                    ? 'Reset'
                    : 'Make') + ' reservation'
                    }}
                </button>
            </div>
        </ng-container>
    </div>

    <h2 class="m-3 my-4 text-left">Usage statistics</h2>

    <ng-container *ngIf="filteredStatistics && filteredStatistics.length != 0">
        <div class="mt-5">
            <div class="">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                        <span class="parking-lot">Parking Lot
                        </span>
                        </th>
                        <th>Status</th>
                        <th (click)="sortStatisticsTableByTime()">
                        <span class="time">Time
                            <i *ngIf="timeSortedAsc" class="fas fa-sort-up"></i>
                            <i *ngIf="timeSortedDesc" class="fas fa-sort-down"></i>
                        </span>
                        </th>
                        <th (click)="sortStatisticsTableByDate()">
                        <span class="date">Date
                            <i *ngIf="dateSortedAsc" class="fas fa-sort-up"></i>
                            <i *ngIf="dateSortedDesc" class="fas fa-sort-down"></i>
                        </span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let stat of filteredStatistics
                            | paginate: { itemsPerPage: 10, currentPage: p };
                        let i = index"
                        [ngStyle]="{ background: getColor(stat.status) }">
                        <!--//here you can set the number of rows to display on one page-->
                        <td>{{ 'LOT ' + stat.lotNumber }}</td>
                        <td>{{ stat.status }}</td>
                        <td>{{ stat.updatedAt | date: 'HH:mm:ss' }}</td>
                        <td>{{ stat.updatedAt | date: 'dd.MM.yy' }}</td>
                    </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="p = $event" autoHide="true"></pagination-controls>
            </div>
        </div>
    </ng-container>
</div>

<div *ngIf="filteredStatistics && filteredStatistics.length == 0"
     class="container mx-auto text-center align-content-center mt-2 w-75">
    <div class="smthg-error mt-3 mx-auto text-center">
        <div class="unable-to-connect mx-auto text-center">
            <h2>No results found.</h2>
        </div>
    </div>
    <div class="message mx-auto text-center m-1 px-3">
        This parking lot has not been used yet for this week.
    </div>
    <img alt="no_statistics"
         class="w-100 mx-auto text-center align-content-center h-auto"
         src="../../../../../assets/img/no-results-found.png"
    />
</div>

<div [hidden]="parkingLot != null">
    <div class="smthg-error mt-3 mx-auto text-center">
        <div class="unable-to-connect mx-auto text-center">
            <h2>Something went wrong.</h2>
        </div>
    </div>
    <div class="message mx-auto text-center m-1 px-3">
        Please click on Back button.
    </div>

    <div class="container">
        <div class="row my-5">
            <div class="col text-center">
                <button (click)="goBack()" appNoDblClick class="btn refresh">
                    <i class="fas fa-backspace fa-sm mr-3"></i>Back
                </button>
            </div>
        </div>
    </div>
</div>
