@import '../main';
/* Parking lot not loaded */
@import '../../smth-error';
/* Statistics pagination table style */
@import '../../statistics/statistics-pagination';

.card-body {
    background: var(--background);
    border: none;
}

.card {
    border: none;
}

.card {
    border-radius: 0 0 1.1rem 1.1rem;
}

.card-body {
    border-radius: 0 0 1rem 1rem;
}

.parking-lot-name {
    text-transform: uppercase;
}

.lot {
    cursor: unset;

    .fas, .far {
        font-size: 3rem;
    }
}

.fa-backspace {
    font-size: 1rem;
}

.list-group li {
    background: var(--background);
}

button i {
    margin-right: 2rem !important;
    margin-left: -3rem;
}
