<form #f="ngForm" (ngSubmit)="onSubmit(f.valid)" [formGroup]="regForm" class="form-group mx-auto text-center">

    <div *ngIf='invalidReg' class="alert alert-warning">{{errorMessage}}</div>
    <div *ngIf='regSuccess' class="alert alert-success">{{successMessage}}</div>

    <div class="form-group mx-auto text-center">
        <label for="username">User Name :</label>
        <div class="input-group mx-auto text-center w-20rem">
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="fa fa-user"></i></span></div>
            <input [(ngModel)]="this.username" class="form-control " formControlName="username" id="username"
                   minlength="5"
                   name="username" placeholder="Enter User Name" required type="text">
        </div>
        <div *ngIf="name.invalid && (name.dirty || name.pristine) && this.submitted"
             class="alert alert-danger font-error mx-auto text-center w-20rem">
            <div *ngIf="name.errors.required">
                Name is required.
            </div>
            <div *ngIf="name.errors.minlength">
                Name must be at least 5 characters long.
            </div>
            <div *ngIf="name.errors.maxlength">
                Name must be maximum 15 characters long.
            </div>
            <div *ngIf="name.errors.forbiddenName">
                Name should contain only<br/>
                A-Z, a-z, 0-9 symbols and "_" or ".".
            </div>
        </div>
    </div>
    <div class="form-group mx-auto text-center">
        <label for="email">Email :</label>
        <div class="input-group mx-auto text-center w-20rem">
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="fa fa-envelope"></i></span></div>
            <input [(ngModel)]="this.email" class="form-control" formControlName="email" id="email" minlength="8"
                   name="email" placeholder="example@mail.com" required type="email">
        </div>
        <!--                    <autocomplete givenPlaceHolder="Your email address"-->
        <!--                                  (selectedValue)="handleSelect($event)"></autocomplete>-->

        <div *ngIf="mail.invalid && (mail.dirty || mail.pristine) && this.submitted"
             class="alert alert-danger font-error mx-auto text-center w-20rem">
            <div *ngIf="mail.errors.required">
                Email is required.
            </div>
            <div *ngIf="mail.errors.minlength">
                Email must be at least 8 characters long.
            </div>
            <div *ngIf="mail.errors.maxlength">
                Email must be maximum 35 characters long.
            </div>
            <!--                        <div *ngIf="mail.errors.forbiddenName">-->
            <div *ngIf="mail.errors.pattern">
                Email should contain @<br/>
                A-Z, a-z, 0-9 symbols and "_", ".".
            </div>
        </div>
    </div>
    <div class="form-group mx-auto text-center">
        <label for="firstname">First Name :</label>
        <div class="input-group mx-auto text-center w-20rem">
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="fa fa-align-justify"></i></span></div>
            <input [(ngModel)]="this.firstname" class="form-control" formControlName="firstname" id="firstname"
                   minlength="3"
                   name="firstname" placeholder="Enter First Name" required type="text">
        </div>
        <div *ngIf="fname.invalid && (fname.dirty || fname.pristine) && this.submitted"
             class="alert alert-danger font-error mx-auto text-center w-20rem">
            <div *ngIf="fname.errors.required">
                First Name is required.
            </div>
            <div *ngIf="fname.errors.minlength">
                First Name must be at least 3 characters long.
            </div>
            <div *ngIf="fname.errors.maxlength">
                First Name must be maximum 15 characters long.
            </div>
            <div *ngIf="fname.errors.forbiddenName">
                First Name should contain only<br/>
                A-Z, a-z and symbols "_", "-".
            </div>
        </div>
    </div>
    <div class="form-group mx-auto text-center">
        <label for="lastname">Last Name :</label>
        <div class="input-group mx-auto text-center w-20rem">
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="fa fa-align-justify"></i></span></div>
            <input [(ngModel)]="this.lastname" class="form-control " formControlName="lastname" id="lastname"
                   minlength="3"
                   name="lastname" placeholder="Enter Last Name" required type="text">
        </div>
        <div *ngIf="lname.invalid && (lname.dirty || lname.pristine) && this.submitted"
             class="alert alert-danger font-error mx-auto text-center w-20rem">
            <div *ngIf="lname.errors.required">
                Last Name is required.
            </div>
            <div *ngIf="lname.errors.minlength">
                Last Name must be at least 3 characters long.
            </div>
            <div *ngIf="lname.errors.maxlength">
                Last Name must be maximum 15 characters long.
            </div>
            <div *ngIf="lname.errors.forbiddenName">
                Last Name should contain only<br/>
                A-Z, a-z, 0-9 and symbols "_", "-".
            </div>
        </div>
    </div>
    <div class="form-group mx-auto text-center">
        <label for="password">Password :</label>
        <div class="input-group mx-auto text-center w-20rem">
            <!-- Change input type to be able to accept dynamic data -->
            <input [(ngModel)]="this.password" [type]="fieldTextTypePass ? 'text' : 'password'"
                   class="form-control full-width" formControlName="password" id="password" minlength="6"
                   name="password"
                   placeholder="Enter password" required type="password">

            <div class="input-group-append">
                <span class="input-group-text">
                    <i (click)="togglePassTextType()" [ngClass]="{
                                  'fas fa-eye-slash': !fieldTextTypePass,
                                  'fas fa-eye': fieldTextTypePass
                                }" class="fa"></i>
                </span>
            </div>
        </div>
        <div *ngIf="pass.invalid && (pass.dirty || pass.pristine) && this.submitted"
             class="alert alert-danger font-error mx-auto text-center w-20rem">
            <div *ngIf="pass.errors.required">
                Password is required.
            </div>
            <div *ngIf="pass.errors.minlength">
                Password must be <br/>
                at least 6 characters long.
            </div>
            <div *ngIf="pass.errors.maxlength">
                Password must be maximum <br/>10 characters long.
            </div>
            <div *ngIf="pass.errors.pattern">
                Password should contain<br/>
                at least one uppercase letter, <br/>
                one lowercase letter, one number <br/>
                and one special character from !"@#$%^&'*()_+,./
            </div>
        </div>
    </div>
    <div class="form-group mx-auto text-center ">
        <label for="passConfirm">Repeat password :</label>
        <div class="input-group mx-auto text-center w-20rem">
            <!-- Change input type to be able to accept dynamic data -->
            <input [(ngModel)]="this.passConfirm" [type]="fieldTextTypePassConfirm ? 'text' : 'password'"
                   class="form-control" formControlName="passConfirm" id="passConfirm" minlength="6" name="passConfirm"
                   placeholder="Repeat password" required type="password">
            <div class="input-group-append">
                <span class="input-group-text">
                    <i (click)="togglePassConfirmTextType()" [ngClass]="{
                                  'fas fa-eye-slash': !fieldTextTypePassConfirm,
                                  'fas fa-eye': fieldTextTypePassConfirm
                                }" class="fa"></i>
                </span>
            </div>
        </div>
        <div *ngIf="passConf.invalid && (passConf.dirty || passConf.pristine) && this.submitted"
             class="alert alert-danger font-error mx-auto text-center w-20rem">
            <div *ngIf="passConf.errors.required">
                Password confirmation is required.
            </div>
            <div *ngIf="passConf.errors.minlength">
                Password must be at least 6 characters long.
            </div>
            <div *ngIf="passConf.errors.maxlength">
                Password must be maximum <br/>10 characters long.
            </div>
            <!--<div *ngIf="passConf.errors.validateEqual">
                Password and ConfirmPassword didn't match.
            </div>-->
            <div *ngIf="passConf.errors.notEqual">
                Password and ConfirmPassword didn't match.
            </div>
        </div>
    </div>

    <!--                Recaptcha v3 -->
    <!--  <script src="https://www.google.com/recaptcha/api.js?render=6LcFPt8UAAAAAEf1LLL2nGpZm-I-DcugWAVKHBHL"></script>-->
    <!--
        the SITE_KEY is the sitekey from your admin console.
        use form control for validation
      -->
    <app-or-separator></app-or-separator>

    <app-social-buttons (amazonEvent)="this.socialSignUpOther(socialProviders.a)"
                        (fbEvent)="this.socialSignUp(socialProviders.fb)"
                        (gEvent)="this.socialSignUp(socialProviders.g)"
                        (gitEvent)="this.socialSignUpOther(socialProviders.git)"

                        (linEvent)="this.socialSignUpOther(socialProviders.lin)"
                        (msEvent)="this.socialSignUpOther(socialProviders.ms)"
                        (vkEvent)="this.socialSignUp(socialProviders.vk)">
    </app-social-buttons>

    <div class="text-center">
        <div appNbRecaptcha class="g-recaptcha mt-3" formControlName="captcha"
             key="6Lcngd8UAAAAAPaKwd9CzEpiM8a8hGnRnBumf9RK"></div>
    </div>

    <div class="clearfix m-2 px-3 mt-4 info-box mx-auto">
        <span class="checkbox-inline">
            <input [(ngModel)]="acceptTerms" class="custom-checkbox" id="terms" name="terms" type="checkbox"
                   formControlName="acceptTerms">
            <label for="terms"> I agree to the </label></span>
        <a class="" href="#"> Terms of service</a>
    </div>

    <div class="button-box mx-auto">
        <button (click)="onSubmit(this.regForm.valid)" [disabled]="regForm.invalid || !this.acceptTerms" appNoDblClick
                class="btn btn-default full-width rounded-pill mt-4 submit-btn" type="submit">Create account
            <span class="fas fa-check"></span></button>
    </div>
</form>
