#noconnect {
    position: absolute;
    height: 50vh;
    top: 50%;
}

#noconnect .noconnect {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.noconnect {
    /*width: 100%;*/
    line-height: 1.4;
    text-align: center;
}

.noconnect .noconnect-500 .no-connection h1 {
    width: 100%;
    max-width: 1220px;
}

.noconnect .noconnect-500 .unable-to-connect h2 {
    max-width: 720px;
}

.noconnect .noconnect-500 {
    position: relative;
    height: 300px;
    margin: 0px auto 10px;
    z-index: -1;
}

.noconnect .noconnect-500 .no-connection h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 104px;
    font-weight: 200;
    margin: 0px;
    color: var(--text-color);
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 30%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.noconnect .noconnect-500 .unable-to-connect h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--not-found-color);
    background: #fff;
    padding: 10px 5px;
    margin: auto;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
}

.noconnect a {
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    border-radius: 1.5rem;
    box-shadow: var(--material-shadow-thin);
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 13px 23px;
    background: var(--isd-red);
    font-size: 18px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.noconnect a:hover {
    color: var(--isd-red);
    background: var(--not-found-color);
    box-shadow: var(--btn-material-shadow);
}

@media only screen and (max-width: 767px) {
    .noconnect .noconnect-500 .no-connection h1 {
        font-size: 68px;
    }

    .message {
        padding-top: 1rem;
    }
}

@media (min-width: 520px) and (max-width: 620px) {
    .noconnect .noconnect-500 {
        height: 272px;
        margin: 0px auto 10px;
    }
}

@media only screen and (max-width: 480px) {
    .noconnect .noconnect-500 {
        height: 200px;
        margin: 0px auto 10px;
    }

    .noconnect .noconnect-500 .no-connection h1 {
        font-size: 52px;
    }

    .noconnect .noconnect-500 .unable-to-connect h2 {
        font-size: 16px;
    }

    .noconnect a {
        padding: 7px 15px;
        font-size: 14px;
    }

    .message {
        padding-top: 1rem;
    }
}
