<div class="error col-12 mx-auto text-center align-content-center align-items-center">
    <div class="noconnect mx-auto text-center align-content-center align-items-center">
        <div class="noconnect-500 mt-3">
            <div class="no-connection">
                <h1>No connection</h1>
            </div>
            <div class="unable-to-connect">
                <h2>Unable to connect with the server.</h2>
            </div>
        </div>
        <div class="message mx-auto text-center m-1 px-3">Your connection appears to be offline. <br/>
            Please check your internet connection and try again or contact support.
        </div>
        <a class="m-4" href="/">Try again</a>
    </div>
</div>
