footer {
    color: #d1e7fa;
}

.container {
    height: 100%;
    max-width: 100%;
}

@media (max-width: 488px) {
    .container {
        width: 100%;
    }
}

.card-body {
    width: 100%;
    max-width: 100%;
}
