<form
    #f="ngForm"
    (ngSubmit)="onSubmit(f.valid)"
    [formGroup]="resetForm"
    class="form-group mx-auto text-center"
>
    <div *ngIf="resetSuccess" class="alert alert-success">
        {{ confirmationMessage }}
    </div>
    <div *ngIf="invalidReset" class="alert alert-warning">
        {{ errorMessage }}
    </div>

    <div class="form-group mx-auto text-center">
        <label for="password">Password :</label>
        <div class="input-group mx-auto text-center w-20rem">
            <!-- Change input type to be able to accept dynamic data -->
            <input
                [(ngModel)]="password"
                [type]="fieldTextTypePass ? 'text' : 'password'"
                class="form-control full-width"
                formControlName="password"
                id="password"
                minlength="6"
                name="password"
                placeholder="Enter password"
                required
                type="password"
            />

            <div class="input-group-append">
                <span class="input-group-text">
                    <i
                        (click)="togglePassVisible(this)"
                        [ngClass]="{
                            'fas fa-eye-slash': !fieldTextTypePass,
                            'fas fa-eye': fieldTextTypePass
                        }"
                        class="fa"
                    ></i>
                </span>
            </div>
        </div>
        <div
            *ngIf="
                pass.invalid && (pass.dirty || pass.pristine) && this.submitted
            "
            class="alert alert-danger font-error mx-auto text-center w-20rem"
        >
            <ng-container *ngIf="pass.errors.required">
                Password is required.<br/>
            </ng-container>
            <ng-container *ngIf="pass.errors.minlength">
                At least 6 characters long.<br/>
            </ng-container>
            <ng-container *ngIf="pass.errors.maxlength">
                Maximum 10 characters long.<br/>
            </ng-container>
            <ng-container *ngIf="pass.errors.pattern">
                Should contain<br/>
                at least one uppercase letter, <br/>
                one lowercase letter, one number <br/>
                and one special character from <strong>!"@#$%^&'*()_+,./</strong>
            </ng-container>
        </div>
    </div>
    <div class="form-group mx-auto text-center">
        <label for="passConfirm">Repeat password :</label>
        <div class="input-group mx-auto text-center w-20rem">
            <!-- Change input type to be able to accept dynamic data -->
            <input
                [(ngModel)]="passConfirm"
                [type]="fieldTextTypePassConfirm ? 'text' : 'password'"
                class="form-control"
                formControlName="passConfirm"
                id="passConfirm"
                minlength="6"
                name="passConfirm"
                placeholder="Repeat password"
                required
                type="password"
            />
            <div class="input-group-append">
                <span class="input-group-text">
                    <i
                        (click)="togglePassConfirmVisible(this)"
                        [ngClass]="{
                            'fas fa-eye-slash': !fieldTextTypePassConfirm,
                            'fas fa-eye': fieldTextTypePassConfirm
                        }"
                        class="fa"
                    ></i>
                </span>
            </div>
        </div>
        <div
            *ngIf="
                passConf.invalid &&
                (passConf.dirty || passConf.pristine) &&
                this.submitted
            "
            class="alert alert-danger font-error mx-auto text-center w-20rem"
        >
            <ng-container *ngIf="passConf.errors.required">
                Password confirmation is required.<br/>
            </ng-container>
            <ng-container *ngIf="passConf.errors.minlength">
                At least 6 characters long.<br/>
            </ng-container>
            <ng-container *ngIf="passConf.errors.maxlength">
                Maximum 10 characters long.<br/>
            </ng-container>
            <ng-container *ngIf="passConf.errors.notEqual">
                Passwords didn't match.
            </ng-container>
        </div>
    </div>

    <div class="button-box mx-auto">
        <button
            (click)="onSubmit(this.resetForm.valid)"
            appNoDblClick
            class="btn btn-default submit-btn full-width form-group mx-auto text-center rounded-pill mt-3 mb-n2"
            type="submit"
        >
            Reset password&nbsp;&nbsp;<i class="fas fa-key"></i>
        </button>
    </div>
</form>
