<form
  #f="ngForm"
  (ngSubmit)="onSubmit(f.valid)"
  [formGroup]="resetForm"
  class="form-group mx-auto text-center"
>
    <div *ngIf="resetSuccess" class="alert alert-success">
        {{ confirmationMessage }}
    </div>
    <div *ngIf="invalidReset" class="alert alert-warning">
        {{ errorMessage }}
    </div>

    <div class="form-group mx-auto text-center">
        <label for="password">{{ 'reset-password.pw.text' | translate }}</label>
        <div class="input-group mx-auto text-center w-20rem">
            <!-- Change input type to be able to accept dynamic data -->
            <input
                [(ngModel)]="password"
                [type]="fieldTextTypePass ? 'text' : 'password'"
                class="form-control full-width"
                formControlName="password"
                id="password"
                minlength="6"
                name="password"
                placeholder="Enter password"
                required
                type="password"
            />

            <div class="input-group-append">
                <span class="input-group-text">
                    <i
                        (click)="togglePassVisible(this)"
                        [ngClass]="{
                            'fas fa-eye-slash': !fieldTextTypePass,
                            'fas fa-eye': fieldTextTypePass
                        }"
                        class="fa"
                    ></i>
                </span>
            </div>
        </div>
        <div
            *ngIf="pass.invalid && (pass.dirty || pass.pristine) && this.submitted"
            class="alert alert-danger font-error mx-auto text-center w-20rem"
        >
            <ng-container *ngIf="pass.errors.required">
                {{ 'reset-password.pw.req' | translate }}<br/>
            </ng-container>
            <ng-container *ngIf="pass.errors.minlength">
                {{ 'reset-password.pw.minlen' | translate }}<br/>
            </ng-container>
            <ng-container *ngIf="pass.errors.maxlength">
                {{ 'reset-password.pw.maxlen' | translate }}<br/>
            </ng-container>
            <ng-container *ngIf="pass.errors.pattern">
                {{ 'common.constraints.pw.content' | translate | translateCut:0 }} <br/>
                {{ 'common.constraints.pw.content' | translate | translateCut:1 }} <br/>
                {{ 'common.constraints.pw.content' | translate | translateCut:2 }} <br/>
                {{ 'common.constraints.pw.content' | translate | translateCut:3 }} <br/>
                <strong>!"@#$%^&'*()_+,./</strong>
            </ng-container>
        </div>
    </div>
    <div class="form-group mx-auto text-center">
        <label for="passConfirm">{{ 'reset-password.pwconf.text' | translate }}</label>
        <div class="input-group mx-auto text-center w-20rem">
            <!-- Change input type to be able to accept dynamic data -->
            <input
                [(ngModel)]="passConfirm"
                [type]="fieldTextTypePassConfirm ? 'text' : 'password'"
                class="form-control"
                formControlName="passConfirm"
                id="passConfirm"
                minlength="6"
                name="passConfirm"
                placeholder="Repeat password"
                required
                type="password"
            />
            <div class="input-group-append">
                <span class="input-group-text">
                    <i
                        (click)="togglePassConfirmVisible(this)"
                        [ngClass]="{
                            'fas fa-eye-slash': !fieldTextTypePassConfirm,
                            'fas fa-eye': fieldTextTypePassConfirm
                        }"
                        class="fa"
                    ></i>
                </span>
            </div>
        </div>
        <div
            *ngIf="passConf.invalid && (passConf.dirty || passConf.pristine) && this.submitted"
            class="alert alert-danger font-error mx-auto text-center w-20rem"
        >
            <ng-container *ngIf="passConf.errors.required">
                {{ 'reset-password.pwconf.req' | translate }}<br/>
            </ng-container>
            <ng-container *ngIf="passConf.errors.minlength">
                {{ 'reset-password.pwconf.minlen' | translate }}<br/>
            </ng-container>
            <ng-container *ngIf="passConf.errors.maxlength">
                {{ 'reset-password.pwconf.maxlen' | translate }}<br/>
            </ng-container>
            <ng-container *ngIf="passConf.errors.notEqual">
                {{ 'reset-password.pwconf.notmatch' | translate }}
            </ng-container>
        </div>
    </div>

    <div class="button-box mx-auto">
        <button
            (click)="onSubmit(this.resetForm.valid)"
            appNoDblClick
            class="btn btn-default submit-btn full-width form-group mx-auto text-center rounded-pill mt-3 mb-n2"
            type="submit"
        >
            {{ 'reset-password.reset' | translate }} &nbsp;<i class="fas fa-key"></i>
        </button>
    </div>
</form>
