<nav
    [@openClose]
    class="navbar navbar-expand-lg navbar-light isd-navbar bg-dark"
>
    <div class="container">
        <a (click)="navigateToMain()" class="navbar-brand logo">
            <img alt="" src="../../../assets/img/company/isd-logo.png"/>
        </a>
        <a class="navbar-brand abs">
            <!--  ParKing-->
            <img
                (click)="navigateToMain()"
                [ngClass]="this.isUserLoggedIn() ? 'user-logged' : ''"
                alt="parking_logo"
                class="appname-logo"
                src="../../../assets/img/company/parking_logo.png"
            />
        </a>
        <button
            (click)="changeMenuTooltip()"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
            class="navbar-toggler collapsed align-self-center mt-4 p-3"
            data-target="#navbarNav"
            data-toggle="collapse"
            ngbTooltip="{{ appMenuTooltip }}" placement="top"
            type="button"
        >
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto text-light align-self-center mt-4">
                <li
                    *ngIf="!this.isUserLoggedIn()"
                    class="nav-item mx-auto pl-4"
                >
                    <a (click)="navigateToLogin()" class="nav-link"
                       ngbTooltip="{{this.translate.instant('menu.tooltips.login')}}" placement="top"
                    ><i class="fa fa-user"></i>&nbsp;{{ 'menu.login' | translate }}</a>
                </li>
                <li
                    *ngIf="this.isUserLoggedIn()"
                    class="nav-item mx-auto text-center"
                >
                    <a
                        (click)="this.navigateToProfile()"
                        class="nav-link username"
                        ngbTooltip="{{this.translate.instant('menu.tooltips.profile')}}" placement="top"
                    ><i class="fa fa-user"></i>
                        {{
                      this?.getUserName() == null ? 'Unknown user' : this.capitalize(this?.getUserName())
                        }}
                    </a>
                </li>
                <li *ngIf="this.isUserLoggedIn()" class="nav-item mx-auto">
                    <a (click)="showLogoutModal()" class="nav-link"
                       ngbTooltip="{{this.translate.instant('menu.tooltips.logout')}}" placement="top"
                    ><i class="fas fa-sign-out-alt"></i>&nbsp;{{ 'menu.logout' | translate }}</a>
                </li>
                <li *ngIf="this.isUserLoggedIn()" class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle text-light"
                        data-toggle="dropdown"
                        ngbTooltip="{{this.translate.instant('menu.tooltips.menu')}}" placement="top"
                    >
                        {{ 'menu.title' | translate }}
                    </a>
                    <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                        <a
                            (click)="navigateToStatistics()"
                            class="dropdown-item"
                            ngbTooltip="{{this.translate.instant('menu.tooltips.stats')}}" placement="top"
                        ><i class="fas fa-clipboard"></i>&nbsp;{{ 'menu.stats' | translate }}</a>
                        <div class="dropdown-divider"></div>
                        <a (click)="navigateToLayout()" class="dropdown-item"
                           ngbTooltip="{{this.translate.instant('menu.tooltips.map')}}" placement="top"
                        ><i class="fas fa-map-marked-alt"></i>&nbsp;{{ 'menu.layout' | translate }}</a>
                    </div>
                </li>
                <!-- theme switch -->
                <div class="align-content-center mx-auto pl-2">
                    <label class="theme-switch"
                           ngbTooltip=
                               "{{this.translate.instant('menu.tooltips.switch')}}
                                {{this.themeService.themeToggleChecked ?
                           this.translate.instant('menu.tooltips.light-mode')
                           : this.translate.instant('menu.tooltips.dark-mode')}}
                            {{this.translate.instant('menu.tooltips.theme')}}"
                           placement="top">
                        <input
                            [(ngModel)]="this.themeService.themeToggleChecked"
                            name="theme-switch"
                            type="checkbox"
                        />
                        <span class="slider round"
                        ><span class="slider-img"></span
                        ></span>
                    </label>
                </div>
                <!-- language select-->
                <div class="mx-auto"
                     ngbTooltip="{{this.translate.instant('menu.tooltips.lang')}}"
                     placement="top">
                    <div class="form-group lang-select text-dark pl-1">
                        <select (change)="switchLanguage()"
                                [(ngModel)]="selectedLanguage"
                                class="form-control select">
                            <option *ngFor="let lang of locales"
                                    [ngValue]="lang">{{lang}}
                            </option>
                        </select>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <hr style="border-top: 3px solid var(--isd-red) !important;"/>
</div>
