<nav
    [@openClose]
    class="navbar navbar-expand-lg navbar-light isd-navbar bg-dark"
>
    <div class="container">
        <a (click)="navigateToMain()" class="navbar-brand logo">
            <img alt="" src="../../../assets/img/company/isd-logo.png"/>
        </a>
        <a class="navbar-brand abs">
            <!--      ParKing-->
            <img
                (click)="navigateToMain()"
                [ngClass]="this.isUserLoggedIn() ? 'user-logged' : ''"
                alt="parking_logo"
                class="appname-logo"
                src="../../../assets/img/company/parking_logo.png"
            />
        </a>
        <!--    to do : make logo in svg-->
        <button
            (click)="changeTooltip()"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
            class="navbar-toggler collapsed align-self-center mt-4 p-3"
            data-target="#navbarNav"
            data-toggle="collapse"
            ngbTooltip="{{appMenuTooltip}}" placement="top"
            type="button"
        >
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto text-light align-self-center mt-4">
                <li
                    *ngIf="!this.isUserLoggedIn()"
                    class="nav-item mx-auto pl-4"
                >
                    <a (click)="navigateToLogin()" class="nav-link"
                       ngbTooltip="Log in account" placement="top"
                    ><i class="fa fa-user"></i> Login</a
                    >
                </li>
                <li
                    *ngIf="this.isUserLoggedIn()"
                    class="nav-item mx-auto text-center"
                >
                    <a
                        (click)="this.navigateToProfile()"
                        class="nav-link username"
                        ngbTooltip="Go to user profile" placement="top"
                    ><i class="fa fa-user"></i>
                        {{
                      this?.getUserName() == null
                        ? 'Unknown user'
                        : this.capitalize(this?.getUserName())
                        }}
                    </a>
                </li>
                <li *ngIf="this.isUserLoggedIn()" class="nav-item mx-auto">
                    <a (click)="showLogoutModal()" class="nav-link"
                       ngbTooltip="Logout from user profile" placement="top"
                    ><i class="fas fa-sign-out-alt"></i> Logout</a
                    >
                </li>
                <li *ngIf="this.isUserLoggedIn()" class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle text-light"
                        data-toggle="dropdown"
                        ngbTooltip="Application menu" placement="top"
                    >
                        Menu
                    </a>
                    <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                        <a
                            (click)="navigateToStatistics()"
                            class="dropdown-item"
                            ngbTooltip="Go to parking usage statistics" placement="top"
                        ><i class="fas fa-clipboard"></i> Statistics</a
                        >
                        <div class="dropdown-divider"></div>
                        <a (click)="navigateToLayout()" class="dropdown-item"
                           ngbTooltip="Go to parking map" placement="top"
                        ><i class="fas fa-map-marked-alt"></i> Parking
                            layout</a
                        >
                        <!-- <a class="dropdown-item text-light" (click)="navigateToTest2()">Test layout</a> -->
                    </div>
                </li>
                <div class="align-content-center mx-auto pl-4">
                    <label class="theme-switch"
                           ngbTooltip="Switch to {{this.themeService.themeToogleChecked ?
                           'light mode' : 'dark mode'}} theme"
                           placement="top">
                        <input
                            [(ngModel)]="this.themeService.themeToogleChecked"
                            name="theme-switch"
                            type="checkbox"
                        />
                        <span class="slider round"
                        ><span class="slider-img"></span
                        ></span>
                    </label>
                </div>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <hr style="border-top: 3px solid var(--isd-red) !important;"/>
</div>

<!--<div class="user-toggle">
    <div class="[ visually-hidden ][ js-mode-status ]" role="status">{{modeStatusElement}}</div>
    <button class="[ toggle-button ] [ js-mode-toggle ]">
        <span class="[ toggle-button__text ] [ js-mode-toggle-text ]">{{modeToggleText}}</span>
        <span aria-hidden="true" class="toggle-button__icon"></span>
    </button>
</div>-->
