.fa-user {
    font-size: 1rem;
}

.logo img {
    content: var(--isd-account-logo);
    width: 131px;
    height: 131px;
}

@media (max-width: 525px) {
    .logo img {
        width: 75px;
        height: 75px;
    }
}

.app-name {
    text-align: center;
}

.user,
a {
    cursor: pointer;
}

@media (min-width: 992px) {
    .dropdown:hover .dropdown-menu {
        display: block;
        top: 95%;
    }

    .dropdown-menu {
        padding: 0;
        -webkit-box-shadow: var(--box-shadow-navbar-menu);
        -moz-box-shadow: var(--box-shadow-navbar-menu);
        box-shadow: var(--box-shadow-navbar-menu);
        border-radius: 0;
    }
}

.dropdown-item {
    transition: 1s;
}

.dropdown-item:hover {
    color: black !important;
}

.dropdown-divider {
    margin: 0;
}

.appname-logo {
    content: var(--parking-logo);
    width: 10rem;
}

@media (min-width: 992px) {
    .appname-logo {
        position: relative;
        left: 145%;
    }

    .user-logged {
        left: 115%;
    }

    .username {
        max-width: 10rem;
    }
}

@media (min-width: 1200px) {
    .appname-logo {
        position: relative;
        left: 200%;
    }
}

.navbar-brand.abs:hover {
    cursor: default;
}

.isd-navbar {
    background-color: var(--background) !important;
    color: var(--text-color);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    /*border-bottom: 3px solid rgb(241, 93, 34) !important;*/
}

.isd-navbar a {
    color: #919495 !important;
    transition: 0.4s;
}

.isd-navbar a:hover {
    color: var(--isd-red) !important;
}

#navbarNav > ul > li > div > a:hover {
    color: var(--isd-red) !important;
    padding-left: 30px;
}

@media (max-width: 992px) {
    .dropdown-toggle {
        display: none;
    }

    .dropdown-menu {
        display: block;
        position: relative;
        border-width: 0;
        padding: 0;
        margin: 0;
    }

    .dropdown-item {
        padding: 5px;
        color: rgba(0, 0, 0, 0.5);
    }
}

.icon-bar {
    width: 26px;
    height: 2px;
    background-color: #b6b6b6;
    display: block;
    transition: all 0.2s;
    margin-top: 5px;
}

/* Hamburger menu */

.navbar-toggler {
    border: none;
    background: transparent !important;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

/* Custom toogle */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 2px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: all 500ms, background 500ms ease-in-out, color 200ms ease;
    -webkit-transition: all 500ms, background 500ms ease-in-out,
    color 200ms ease;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background: var(--background) var(--button-icon) no-repeat;
    color: var(--text-color);
    color-interpolation-filters: var(--button-icon-filter);
    transition: all 500ms, background 500ms ease-in-out, color 200ms ease;
    -webkit-transition: all 500ms, background 500ms ease-in-out,
    color 200ms ease;
}

input[name="theme-switch"]:checked + .slider {
    background-color: var(--isd-red);
}

input[name="theme-switch"]:focus + .slider {
    box-shadow: 0 0 1px var(--isd-red);
}

input[name="theme-switch"]:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
