//colors
$silver: #c0c0c0;
$color_silver_chalice_approx: #a1a1a1;

input {
    &.ng-invalid {
        &:not([name*='pass']):not(form) {
            border-right: 0.3125rem solid var(--input-invalid-border);
        }

        &.form-control:focus {
            border-color: var(--input-invalid-border);
            transition: 500ms ease;
        }
    }

    &.ng-pristine {
        &:not([name*='pass']):not(form) {
            border-right: 2px solid $silver !important;
        }

        &.form-control:focus {
            border-color: $color_silver_chalice_approx !important;
        }
    }

    &.ng-valid[required]:not([name*='pass']) {
        border-right: 0.3125rem solid var(--input-valid-border);
    }

    &.ng-valid.form-control:focus {
        border-color: var(--input-valid-border);
        transition: 500ms ease;
    }
}

input[name*='pass'] {
    &.ng-valid[required] {
        border-left: 0.3125rem solid var(--input-valid-border);
    }

    &.ng-invalid:not(form) {
        border-left: 0.3125rem solid var(--input-invalid-border);
    }

    &.ng-pristine:not(form) {
        border-left: 2px solid $silver !important;
    }
}

.ng-valid.required {
    border-right: 0.3125rem solid var(--input-valid-border);
    border-left: 0.3125rem solid var(--input-valid-border);
}
