input.ng-valid[required]:not([name*="pass"]),
.ng-valid.required {
    /*border-left: 5px solid #42A948; !* green *!*/
    border-right: 5px solid var(--input-valid-border); /* green */
}

input.ng-invalid:not([name*="pass"]):not(form) {
    /*border-left: 5px solid #a94442; !* red *!*/
    border-right: 5px solid var(--input-invalid-border); /* red */
}

input[name*="pass"].ng-valid[required],
.ng-valid.required {
    border-left: 5px solid var(--input-valid-border); /* green */
}

input[name*="pass"].ng-invalid:not(form) {
    border-left: 5px solid var(--input-invalid-border); /* red */
}

input.ng-valid.form-control:focus {
    border-color: var(--input-valid-border);
    transition: 500ms ease;
}

input.ng-invalid.form-control:focus {
    border-color: var(--input-invalid-border);
    transition: 500ms ease;
}
