.card {
    min-width: 25rem;
    box-shadow: var(--card-material-shadow);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.btn-default:not(:disabled):not(.disabled).active,
.btn-default:not(:disabled):not(.disabled):active,
.show > .btn-default.dropdown-toggle {
    color: var(--white);
    background-color: var(--btn-background-color);
    border-color: var(--btn-border-color);
    box-shadow: none;
}

.btn {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.full-width {
    width: 100%;
}

/* Form fields */

.w-20rem {
    width: 20rem;
}

.border-radius-m {
    border-radius: 1.2rem;
}

.info-box {
    max-width: 30rem;
}

.button-box {
    max-width: 35rem;
}

input.ng-valid[required]:not([name*="pass"]), .ng-valid.required {
    /*border-left: 5px solid #42A948; !* green *!*/
    border-right: 5px solid var(--input-valid-border); /* green */
}

input.ng-invalid:not([name*="pass"]):not(form) {
    /*border-left: 5px solid #a94442; !* red *!*/
    border-right: 5px solid var(--input-invalid-border); /* red */
}

input[name*="pass"].ng-valid[required], .ng-valid.required {
    border-left: 5px solid var(--input-valid-border); /* green */
}

input[name*="pass"].ng-invalid:not(form) {
    border-left: 5px solid var(--input-invalid-border); /* red */
}

input.ng-valid.form-control:focus {
    border-color: var(--input-valid-border);
}

input.ng-invalid.form-control:focus {
    border-color: var(--input-invalid-border);
}

@media (min-width: 992px) and (max-width: 1200px) {
    .card {
        width: 25rem;
    }

    .card-body {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

.submit-btn {
    color: white;
    background-color: var(--isd-red);
}

.submit-btn:hover:enabled {
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    box-shadow: var(--btn-material-shadow);
}
