<form (ngSubmit)="onSubmit()" [formGroup]="loginForm"
      class="form-group mx-auto text-center">

    <div *ngIf='isLoginFailed' class="alert alert-warning">{{errorMessage}}</div>
    <div *ngIf='isLoginSuccess' class="alert alert-success">{{successMessage}}</div>

    <div class="form-group mx-auto text-center">
        <label for="username">User Name :</label>
        <div class="input-group mx-auto text-center w-20rem">
            <div class="input-group-append">
                            <span class="input-group-text">
                              <i class="fa fa-user"></i></span></div>
            <input [(ngModel)]="username" class="form-control" formControlName="username"
                   id="username"
                   minlength="5"
                   name="username"
                   placeholder="Enter User Name" required type="text">
        </div>
        <div *ngIf="name.invalid && (name.dirty || name.pristine) && this.submitted"
             class="alert alert-danger font-error mx-auto text-center w-20rem">
            <div *ngIf="name.errors.required">
                Name is required.
            </div>
            <div *ngIf="name.errors.minlength">
                Name must be at least 5 characters long.
            </div>
            <div *ngIf="name.errors.maxlength">
                Name must be maximum 15 characters long.
            </div>
            <div *ngIf="name.errors.forbiddenName">
                Name should contain only<br/>
                A-Z, a-z, 0-9 symbols and "_" or ".".
            </div>
        </div>
    </div>
    <div class="form-group mx-auto text-center">
        <label for="password">Password :</label>
        <div class="input-group mx-auto text-center w-20rem">
            <!-- Change input type to be able to accept dynamic data -->
            <input
                [(ngModel)]="password" [type]="fieldTextTypePass ? 'text' : 'password'"
                class="form-control full-width"
                formControlName="password"
                id="password"
                minlength="6"
                name="password"
                placeholder="Enter password" required type="password">

            <div class="input-group-append">
                            <span class="input-group-text">
                              <i
                                  (click)="togglePassTextType()"
                                  [ngClass]="{
                                  'fas fa-eye-slash': !fieldTextTypePass,
                                  'fas fa-eye': fieldTextTypePass
                                }"
                                  class="fa"
                              ></i>
                            </span>
            </div>
        </div>
        <div *ngIf="pass.invalid && (pass.dirty || pass.pristine) && this.submitted"
             class="alert alert-danger font-error mx-auto text-center w-20rem">
            <div *ngIf="pass.errors.required">
                Password is required.
            </div>
            <div *ngIf="pass.errors.minlength">
                Password must be <br/>
                at least 6 characters long.
            </div>
            <div *ngIf="pass.errors.maxlength">
                Password must be maximum <br/>10 characters long.
            </div>
            <div *ngIf="pass.errors.pattern">
                Password should contain<br/>
                at least one uppercase letter, <br/>
                one lowercase letter, one number <br/>
                and one special character from @$!%*?&
            </div>
        </div>
    </div>

    <app-or-separator></app-or-separator>

    <app-social-buttons
        (fbLogin)="this.socialSignIn('facebook')"
        (gLogin)="this.socialSignIn('google')"
    ></app-social-buttons>

    <div class="clearfix m-3 px-3 info-box mx-auto">
        <div class="pull-left checkbox-inline">
            <input class="custom-checkbox" id="rememberMe"
                   name="rememberMe"
                   [(ngModel)]="rememberUser"
                   formControlName="rememberMe"
                   type="checkbox" value="yes">
            <label for="rememberMe"> Remember me</label>
        </div>
        <span (click)="navigateToForgotPass()" class="pull-right pseudolink">Forgot Password?</span>
    </div>

    <div class="button-box mx-auto">
        <button (click)="onSubmit()" appNoDblClick
                class="btn btn-default submit-btn full-width form-group mx-auto text-center rounded-pill mt-3 mb-n2"
                type="submit">
            Login <span class="fas fa-check"></span></button>
    </div>

    <!--<div class="example-container mat-elevation-z8">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title><h2>Welcome <span *ngIf="loggedIn===true">{{user.firstName}} {{user.lastName}}, </span>
                    to Angular 8 Application</h2></mat-card-title>
                <mat-card-subtitle>
                    <button (click)="socialSignIn()" *ngIf="loggedIn===false" color="primary" mat-flat-button
                            type="button">Sign In With Facebook
                    </button>
                    <button (click)="signOut()" *ngIf="loggedIn===true" color="primary" mat-flat-button type="button">
                        Sign Out From Facebook
                    </button>
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <mat-card *ngIf="loggedIn===true" class="example-card">
            <mat-card-header>
                <mat-card-title><h2>Your Facebook Profile:</h2></mat-card-title>
                <mat-card-subtitle>Full Name: {{user.firstName}} {{user.lastName}}</mat-card-subtitle>
            </mat-card-header>
            <img [src]="user.photoUrl" alt="My Facebook Photo" mat-card-image>
            <mat-card-content>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </mat-card-content>
        </mat-card>
    </div>-->
</form>
