<form
  #f="ngForm"
  (ngSubmit)="onSubmit(f.valid)"
  [formGroup]="loginForm"
  class="form-group mx-auto text-center"
>
    <div *ngIf="isLoginFailed" class="alert alert-warning">
        {{ errorMessage }}
    </div>
    <div *ngIf="isLoginSuccess" class="alert alert-success">
        {{ successMessage }}
    </div>

    <button
        (click)="showForm()"
        *ngIf="!showLoginForm"
        class="btn-show-form mt-4 mx-auto text-center"
    >
        <span class="mx-auto text-center align-items-center align-content-center">
            Login with <strong>username</strong></span>
    </button>
    <ng-container *ngIf="showLoginForm">
        <div class="form-group mx-auto text-center">
            <label for="username">User Name :</label>
            <div class="input-group mx-auto text-center w-20rem">
                <div class="input-group-append">
                <span class="input-group-text">
                    <i class="fa fa-user"></i
                    ></span>
                </div>
                <input
                    [(ngModel)]="this.username"
                    class="form-control tett"
                    formControlName="username"
                    id="username"
                    minlength="5"
                    name="username"
                    placeholder="Enter User Name"
                    required
                    type="text"
                />
            </div>
            <div
                *ngIf="name.invalid && this.submitted"
                class="alert alert-danger font-error mx-auto text-center w-20rem"
            >
                <ng-container *ngIf="name.errors.required">
                    Username is required.<br/>
                </ng-container>
                <ng-container *ngIf="name.errors.minlength">
                    At least 5 characters long.<br/>
                </ng-container>
                <ng-container *ngIf="name.errors.maxlength">
                    Maximum 15 characters long.<br/>
                </ng-container>
                <ng-container *ngIf="name.errors.forbiddenName">
                    Should contain only<br/>
                    A-Z, a-z, 0-9 symbols and "_" or ".".
                </ng-container>
            </div>
        </div>
        <div class="form-group mx-auto text-center">
            <label for="password">Password :</label>
            <div class="input-group mx-auto text-center w-20rem">
                <!-- Change input type to be able to accept dynamic data -->
                <input
                    [(ngModel)]="this.password"
                    [type]="fieldTextTypePass ? 'text' : 'password'"
                    class="form-control"
                    formControlName="password"
                    id="password"
                    minlength="6"
                    name="password"
                    placeholder="Enter password"
                    required
                    type="password"
                />

                <div class="input-group-append">
                <span class="input-group-text">
                    <i
                        (click)="togglePassVisible(this)"
                        [ngClass]="{
                            'fas fa-eye-slash': !fieldTextTypePass,
                            'fas fa-eye': fieldTextTypePass
                        }"
                        class="fa"
                    ></i>
                </span>
                </div>
            </div>
            <div
                *ngIf="pass.invalid && this.submitted"
                class="alert alert-danger font-error mx-auto text-center w-20rem"
            >
                <ng-container *ngIf="pass.errors.required">
                    Password is required.<br/>
                </ng-container>
                <ng-container *ngIf="pass.errors.minlength">
                    At least 6 characters long.<br/>
                </ng-container>
                <ng-container *ngIf="pass.errors.maxlength">
                    Maximum 10 characters long.<br/>
                </ng-container>
                <ng-container *ngIf="pass.errors.pattern">
                    Should contain<br/>
                    at least one uppercase letter, <br/>
                    one lowercase letter, one number <br/>
                    and one special character from <strong>!"@#$%^&'*()_+,./</strong>
                </ng-container>
            </div>
        </div>
    </ng-container>

    <app-or-separator></app-or-separator>

    <app-social-buttons
        (amazonEvent)="this.socialSignIn(socialProviders.a)"
        (fbEvent)="this.socialSignIn(socialProviders.fb)"
        (gEvent)="this.socialSignIn(socialProviders.g)"
        (gitEvent)="this.socialSignIn(socialProviders.git)"
        (msEvent)="this.socialSignIn(socialProviders.ms)"
        (vkEvent)="this.socialSignIn(socialProviders.vk)"
    >
    </app-social-buttons>

    <div class="clearfix m-3 px-3 info-box mx-auto">
        <div class="pull-left checkbox-inline">
            <input
                [(ngModel)]="rememberUser"
                class="custom-checkbox"
                formControlName="rememberMe"
                id="rememberMe"
                name="rememberMe"
                type="checkbox"
                value="yes"
            />
            <label for="rememberMe"> Remember me</label>
        </div>
        <span (click)="navigateToForgotPass()" class="pull-right pseudolink"
        >Forgot Password?</span
        >
    </div>
    <ng-container *ngIf="showLoginForm">
        <div class="button-box mx-auto">
            <button
                (click)="onSubmit(this.loginForm.valid)"
                appNoDblClick
                class="btn btn-default submit-btn full-width form-group mx-auto text-center rounded-pill mt-3 mb-n2"
                type="submit"
            >
                Login <span class="fas fa-check"></span>
            </button>
        </div>
    </ng-container>

    <!--<div class="example-container mat-elevation-z8">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title><h2>Welcome <span *ngIf="loggedIn===true">{{user.firstName}} {{user.lastName}}, </span>
                    to Angular 8 Application</h2></mat-card-title>
                <mat-card-subtitle>
                    <button (click)="socialSignIn()" *ngIf="loggedIn===false" color="primary" mat-flat-button
                            type="button">Sign In With Facebook
                    </button>
                    <button (click)="signOut()" *ngIf="loggedIn===true" color="primary" mat-flat-button type="button">
                        Sign Out From Facebook
                    </button>
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <mat-card *ngIf="loggedIn===true" class="example-card">
            <mat-card-header>
                <mat-card-title><h2>Your Facebook Profile:</h2></mat-card-title>
                <mat-card-subtitle>Full Name: {{user.firstName}} {{user.lastName}}</mat-card-subtitle>
            </mat-card-header>
            <img [src]="user.photoUrl" alt="My Facebook Photo" mat-card-image>
            <mat-card-content>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </mat-card-content>
        </mat-card>
    </div>-->
</form>
