@import "../account-form/account-form.component.css";

/*.btn-mater {
    background-color: var(--background) !important;
    color: var(--text-color) !important;
}*/

.reg-form {
    text-align: center;
    width: 30rem;
    border-radius: 0.5rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: 4rem auto;
    background-color: var(--white);
    padding: 2rem;
}

h1 {
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-weight: bold;
    color: #393739;
}

.box {
    position: relative;
    bottom: 0;
    left: 0;
    margin-bottom: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.fa-eye-slash:hover,
.fa-eye:hover {
    cursor: pointer;
}

/*.btn-mater {*/
/*    border-radius: 50px;*/
/*    border: none;*/
/*}*/

/*.btn-mater:hover {*/
/*    color: var(--isd-red);*/
/*    box-shadow: var(--material-shadow-thin);*/
/*    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);*/
/*}*/
