@import "../account-forms.css";
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");

.reg-form {
    text-align: center;
    width: 30rem;
    border-radius: 0.5rem;
    background-color: white;
}

.g-recaptcha {
    display: inline-block;
}

h1 {
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-weight: bold;
    color: #393739;
}

.font-error {
    font-size: 0.95rem;
}

.fa-eye-slash:hover,
.fa-eye:hover {
    cursor: pointer;
}

.info-icon {
    position: absolute;
    right: 10%;
    width: 2rem;
    text-align: right;
}

.info-btn {
    position: absolute;
    border: none;
    background: none;
}

.hint {
    display: block;
    position: absolute;

    z-index: 100;
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0px 0px 6px #B2B2B2;
    height: 200px;
    width: 275px;
    margin: 130% 1% 20px 20px;
}

.hint::after {
    background-color: #F2F2F2;
    box-shadow: -2px -2px 2px 0 rgba(178, 178, 178, .4);
    content: "\00a0";
    display: block;
    height: 20px;
    left: 30px;
    position: relative;
    top: -138px;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 20px;
}

.form-control, .btn {
    outline: none !important;
}

.reg-form .btn {
    line-height: 26px;
    font-weight: bold;
    text-align: center;
}

.input-group-addon .fa {
    font-size: 18px;
}

/*.fade-in {

}*/

/*@media (min-width: 487px) and ( max-width: 992px) {
    .text-social {
        margin: 0 auto;
    }
}*/
