<div class="modal-header">
    <h4 class="modal-title" id="modal-title">{{ 'account-edit-modal-form.title' | translate }}</h4>
    <button
        (click)="activeModal.dismiss('Cross click')"
        aria-describedby="modal-title"
        aria-label="Close button"
        class="close"
        type="button"
    >
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form
  #f="ngForm"
  (ngSubmit)="onSubmit(f.valid)"
  [formGroup]="editForm"
  class="form-group mx-auto text-center"
>
    <div class="modal-body">
        <div class="container">
            <div *ngIf="name" class="form-group mx-auto text-center">
                <label for="username">{{ 'account-edit-modal-form.uname.text' | translate }}</label>
                <div class="input-group mx-auto text-center w-20rem">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fa fa-user"></i></span>
                    </div>
                    <input
                        [(ngModel)]="this.username"
                        class="form-control"
                        formControlName="username"
                        id="username"
                        minlength="5"
                        name="username"
                        placeholder="Enter User Name"
                        required
                        type="text"
                    />
                </div>
                <div
                    *ngIf="name.invalid && name.dirty && name.touched"
                    class="alert alert-danger font-error mx-auto text-center w-20rem"
                >
                    <ng-container *ngIf="name.errors.required">
                        {{ 'account-edit-modal-form.uname.req' | translate }}
                    </ng-container>
                    <ng-container *ngIf="name.errors.minlength">
                        {{ 'account-edit-modal-form.uname.minlen' | translate }}
                    </ng-container>
                    <ng-container *ngIf="name.errors.maxlength">
                        {{ 'account-edit-modal-form.uname.maxlen' | translate }}
                    </ng-container>
                    <ng-container *ngIf="name.errors.forbiddenName">
                        {{ 'common.constraints.uname.content' | translate | translateCut:0 }}<br/>
                        {{ 'common.constraints.uname.content' | translate | translateCut:1}}
                    </ng-container>
                </div>
            </div>
            <div *ngIf="fname" class="form-group mx-auto text-center">
                <label for="firstname">{{ 'account-edit-modal-form.fn.text' | translate }}</label>
                <div class="input-group mx-auto text-center w-20rem">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fa fa-align-justify"></i></span>
                    </div>
                    <input
                        [(ngModel)]="this.firstname"
                        class="form-control"
                        formControlName="firstname"
                        id="firstname"
                        minlength="3"
                        name="firstname"
                        placeholder="Enter First Name"
                        required
                        type="text"
                    />
                </div>
                <div
                    *ngIf="fname.invalid && fname.dirty && fname.touched"
                    class="alert alert-danger font-error mx-auto text-center w-20rem"
                >
                    <ng-container *ngIf="fname.errors.required">
                        {{ 'account-edit-modal-form.fn.req' | translate }}
                    </ng-container>
                    <ng-container *ngIf="fname.errors.minlength">
                        {{ 'account-edit-modal-form.fn.minlen' | translate }}
                    </ng-container>
                    <ng-container *ngIf="fname.errors.maxlength">
                        {{ 'account-edit-modal-form.fn.maxlen' | translate }}
                    </ng-container>
                    <ng-container *ngIf="fname.errors.forbiddenName">
                        {{ 'common.constraints.name.content' | translate | translateCut:0 }} <br/>
                        {{ 'common.constraints.name.content' | translate | translateCut:1 }}
                    </ng-container>
                </div>
            </div>
            <div *ngIf="lname" class="form-group mx-auto text-center">
                <label for="lastname">{{ 'account-edit-modal-form.ln.text' | translate }}</label>
                <div class="input-group mx-auto text-center w-20rem">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fa fa-align-justify"></i></span>
                    </div>
                    <input
                        [(ngModel)]="this.lastname"
                        class="form-control"
                        formControlName="lastname"
                        id="lastname"
                        minlength="3"
                        name="lastname"
                        placeholder="Enter Last Name"
                        required
                        type="text"
                    />
                </div>
                <div
                    *ngIf="lname.invalid && lname.dirty && lname.touched"
                    class="alert alert-danger font-error mx-auto text-center w-20rem"
                >
                    <ng-container *ngIf="lname.errors.required">
                        {{ 'account-edit-modal-form.ln.req' | translate }}
                    </ng-container>
                    <ng-container *ngIf="lname.errors.minlength">
                        {{ 'account-edit-modal-form.ln.minlen' | translate }}
                    </ng-container>
                    <ng-container *ngIf="lname.errors.maxlength">
                        {{ 'account-edit-modal-form.ln.maxlen' | translate }}
                    </ng-container>
                    <ng-container *ngIf="lname.errors.forbiddenName">
                        {{ 'common.constraints.name.content' | translate | translateCut:0 }} <br/>
                        {{ 'common.constraints.name.content' | translate | translateCut:1 }}
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer align-items-end">
        <button
            (click)="onSubmit(this.editForm.valid)"
            [disabled]="!editForm.valid || editForm.pristine"
            appNoDblClick
            class="btn btn-round save-btn form-group text-center"
            type="submit"
        >
            {{ 'account-edit-modal-form.save' | translate }}
        </button>
    </div>
</form>
