@import '../custom-checkbox.scss';
@import '../form-inputs.scss';

.card-body,
.card,
.btn-mater,
.back-btn {
    color: var(--text-color) !important;
    background-color: var(--background) !important;
}

.card {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: var(--card-material-shadow);
}

.isd-logo {
    content: var(--isd-account-logo);
    width: 9rem;
    height: 9rem;
}

@media (max-width: 488px) {
    .isd-logo {
        width: 18vw !important;
        height: 18vw !important;
    }
}

form input.form-control {
    color: var(--input-text-color);
    background: var(--input-color);
}

.btn-default:not(:disabled):not(.disabled) {
    &.active,
    &:active {
        color: var(--white);
        border-color: var(--btn-border-color);
        background-color: var(--btn-background-color);
        box-shadow: none;
    }
}

.show > .btn-default.dropdown-toggle {
    color: var(--white);
    border-color: var(--btn-border-color);
    background-color: var(--btn-background-color);
    box-shadow: none;
}

.btn {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.full-width {
    width: 100%;
}

/* Form fields */

.w-20rem {
    max-width: 20rem;
}

.border-radius-m {
    border-radius: 1.2rem;
}

.info-box {
    max-width: 30rem;
}

.button-box {
    max-width: 35rem;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .card {
        width: 25rem;
    }

    .card-body {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

.submit-btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    display: inline-block;
    padding: 0.8125rem 1.4375rem;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 1.5rem;
    background: var(--isd-red);
    box-shadow: var(--material-shadow-thin);

    &:hover:enabled {
        box-shadow: var(--btn-material-shadow);
    }
}

.info-icon {
    position: absolute;
    top: 2%;
    right: 10%;
    width: 2rem;
    text-align: right;
    color: var(--text-color);
    background: var(--background);
}

.info-btn {
    position: absolute;
    top: 1%;
    right: 2%;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: -0.625rem;
    margin-right: 1.125rem;
    padding-top: -1.125rem;
    padding-right: 0.75rem;
    text-align: center;
    color: var(--text-color);
    border: none;
    border-radius: 3.125rem;
    background: none;
}

.pseudo-link {
    color: var(--pseudolink-color);

    &:hover {
        cursor: pointer;
        text-decoration: underline;
        color: var(--pseudolink-color-hover);
    }
}

.btn-mater {
    border: none;
    border-radius: 3.125rem;

    &:hover {
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        color: var(--isd-red) !important;
        box-shadow: var(--material-shadow-thin);
    }
}

.back-btn {
    position: absolute;
    top: 1%;
    left: 2%;
    width: 2.5rem;
    height: 2.5rem;
    padding-top: 0.5rem;
    padding-right: 1.125rem;
    text-align: center;
    border-radius: 50%;

    &:hover {
        color: var(--isd-red);
    }
}

.text-light-muted {
    color: var(--other-text-color);
}

.btn-show-form {
    padding: 0.8rem;
    background: var(--background-secondary);
    font-size: 0.9375rem;
    font-weight: normal;
    display: inline-flex;
    width: 45%;
    margin: 0.625rem 0.625rem;
    text-align: center !important;
    color: var(--text-color);
    border: none;
    border-radius: 3.125rem;
    box-shadow: var(--material-shadow-thin);

    &:hover {
        opacity: 0.9;
    }

    i {
        font-size: 1.25rem;
        position: relative;
        top: 2px;
        min-width: 1.5625rem;
        margin-right: -1.25rem;
    }
}

@media (max-width: 488px) {
    .btn-show-form {
        width: 100%;
        margin: 0.625rem 0;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .btn-show-form {
        width: 100%;
        margin: 0.625rem 0;
    }
}

.mb-pass {
    margin-bottom: 2.8rem;
}
