<h1 *ngIf="register"
    class="text-center font-weight-light m-5 mx-auto">
    Create your account
</h1>

<div class="container col-lg-5 mt-5">
    <div class="card border-radius-m z-depth-5 mx-auto">
        <div class="card-body border-radius-m text-center mx-auto full-width">
            <button
                (click)="setLoginLayout()"
                *ngIf="forgotPass"
                class="btn btn-mater text-center m-3 back-btn"
                type="button"
            >
                <i class="fas fa-arrow-left"></i>
            </button>
            <button
                (click)="navigateToMain()"
                *ngIf="!forgotPass"
                class="btn btn-mater text-center m-3 back-btn"
                type="button"
            >
                <i class="fas fa-home"></i>
            </button>

            <div>
                <button
                    (click)="toggleHint()"
                    *ngIf="register"
                    class="btn text-center m-3 info-btn"
                >
                    <i class="fas fa-info-circle"></i>
                </button>

                <!--<div *ngIf="showHint == true" class="hint">
                    <h1>Hint</h1>
                </div>-->
            </div>

            <div
                (click)="navigateToMain()"
                class="isd-logo mx-auto text-center"
            ></div>

            <h1 class="h1">ParKing</h1>

            <app-login-form
                (userForgotEvent)="setForgotPassLayout()"
                *ngIf="login"
                [confMessage]="successMessage"
                [errMessage]="errorMessage"
                [isConfirmSuccess]="isConfirmSuccess"
                [isLogFailed]="isLoginFailed"
            ></app-login-form>

            <app-reg-form
                (userLoginEvent)="setLoginLayout()"
                *ngIf="register"
            ></app-reg-form>

            <app-forgot-pass-form *ngIf="forgotPass"></app-forgot-pass-form>

            <app-reset-password-form
                *ngIf="resetPass"
                [confirmationToken]="confirmationToken"
            >
            </app-reset-password-form>
        </div>
    </div>

    <div class="text-center m-4">
        <div (click)="navigateToLogin()" *ngIf="register">
            <span class="text-light-muted">Already registered? </span>
            <span class="pseudolink">Login </span
            ><span class="fas fa-arrow-right"></span>
        </div>

        <div (click)="navigateToRegistration()" *ngIf="login">
            <span class="text-light-muted">Don't have an account yet? </span>
            <span class="pseudolink">Register </span
            ><span class="fas fa-arrow-right"></span>
        </div>
    </div>
</div>
